@font-face {
  font-family: PoppinsRegular;
  src: url(./assets/Poppins/Poppins-Regular.ttf);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-family: PoppinsRegular;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
}

/* layout */

  /* page */

  .page-layout {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 2rem;
  }


/* components */

  /* header */



  /* nav */

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.2rem 0;
  }

  .nav-container {
    width: 100%;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 2rem;
  }