@font-face {
  font-family: PoppinsRegular;
  src: url(./assets/Poppins/Poppins-Regular.ttf);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-family: PoppinsRegular;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
}

/* layout */

  /* page */

  .page-layout {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 7.5rem 2rem;
  }


/* components */

  /* header */



  /* nav */

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.2rem 0;
  }

  nav .nav-container {
    width: 100%;
    max-width: 1250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 2rem;
  }

  nav .nav-left {
    margin-right: auto;
  }

  nav .nav-mid {
    margin: 0 auto;
  }

  nav .nav-mid p{
    text-align: center;
  }

  nav .nav-right {
    margin-left: auto;
  }

  nav .nav-right ul {
    display: flex;
  }

  nav ul > * {
    display: inline-block;
    padding: 0.2rem 0.5rem;
  }

  nav .hamburger {
    display: none;
    width: 2rem;
  }

  nav .hamburger:hover {
    cursor: pointer;
  }

  nav .hamburger .hamburger-line {
    background-color: black;
    height: 2.5px;
    width: 100%;
    margin: 7.5px 0;
  }

  @media screen and (max-width: 48rem) {
    nav .hamburger {
      display: block;
    }

    nav .nav-right ul .hide {
      display: none;
    }

    nav .nav-container {
      grid-template-columns: 0.3fr 1.4fr 0.3fr;
    }
    
    nav .mobile-menu {
      display: block;
      position: absolute;
      top: 4em;
      width: 100%;
      left: 0;
      flex-direction: column;
    }
  }

  nav .show {
    display: block;
    text-align: center;
    width: 100%;
  }

/* reusable classes */

  /* button */

  .no-style-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }