@font-face {
  font-family: PoppinsRegular;
  src: url(./assets/Poppins/Poppins-Regular.ttf);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-family: PoppinsRegular;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
}

/* layout */

  /* page */

  .page-layout {
    min-height: 100vh;
  }

  .container {
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 100vh;
  }


/* components */

  /* header */

  